<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta charset="utf-8">
    <title>Champignonetjes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/name.css') }}">
    <title>Champignonetjes</title>

</head>
<body>
<header>
    <h1 align="left"><img height="146" src="/static/champignonengif.gif" width="121">Champignons compost
        <img height="146" src="/static/champignonengif.gif" width="121"></h1>
</header>
<nav>
    <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="bacterie.html">Doorzoek de database</a></li>
        <li><a href="tabel.html">Tabel met blast data</a></li>
        <li><a href="statistiek.html">Statistieken</a></li>
        <li><a href="zelfblast.html">Zelf blasten</a></li>
        <li><a href="seqs.html">Sequenties</a></li>
    </ul>
</nav>
<main>
    <article>
        <h2>Kan de gekozen pagina tijdelijk niet openen</h2>
        <br>
    </article>
    <aside>
        <h3>Gerelateerd</h3>
        <ul>
            <li><a href="https://nl.wikipedia.org/wiki/Champignon">Champignons</a></li>
            <li><a href="https://nl.wikipedia.org/wiki/Compost">Compost</a></li>
            <li><a href="https://nl.wikipedia.org/wiki/Champost">Champost</a></li>
        </ul>
    </aside>
</main>
<footer>
    <a href="over.html">Over</a>
</footer>
<br>
</body>
</html>